# Conditional Statement

Ada 3 jenis conditionals yang bisa digunakan:

if......

elif....

else....

if (**sebuah kondisi = True**):

    eksekusi

if (**sebuah kondisi = True**):

    eksekusi
    
else:

    eksekusi

if (**sebuah kondisi = True**):

    eksekusi

elif (**sebuah kondisi == True**):
    
    eksekusi
    
else:

    eksekusi

## For loops

Digunakan untuk melakukan iterasi. hampir seluruh objek dapat dilakukan iterasi di python.

Aturan penuliasan:

**for `item` in `items`:**
   **eksekusi perintah**

for i in 'Python Bootcamp by OCY':
    print(i)

In [2]:
#misal eksekusi tanpa membuat baris baru dibawahnya maka
for i in 'Python Bootcamp by OCY':
    print(i, end='')

Python Bootcamp by OCY

**Iterasi data list**

In [4]:
angka = [1,2,3,4,5]

In [5]:
for isi in angka:
    print(isi)

1
2
3
4
5

In [11]:
jumlah = 0

In [14]:
#iterasi penjumlahan pada list
for isi in angka:
    jumlah = jumlah + isi
    print('Hasil penjumlahan pada iterator ke-{} adalah {}'.format(isi, jumlah))

Hasil penjumlahan pada iterator ke-1 adalah 31
Hasil penjumlahan pada iterator ke-2 adalah 33
Hasil penjumlahan pada iterator ke-3 adalah 36
Hasil penjumlahan pada iterator ke-4 adalah 40
Hasil penjumlahan pada iterator ke-5 adalah 45

In [15]:
for isi in angka:
    jumlah = jumlah + isi
    print('Hasil penjumlahan total adalah', jumlah)

Hasil penjumlahan total adalah 46
Hasil penjumlahan total adalah 48
Hasil penjumlahan total adalah 51
Hasil penjumlahan total adalah 55
Hasil penjumlahan total adalah 60

## Looping dan conditional

In [17]:
jumlah = 0
for item in 'Saya belajar python':
    jumlah += 1
    if (item == 'a'):
        print('hey kamu berada di huruf A, selamat!', jumlah)

hey kamu berada di huruf A, selamat! 2
hey kamu berada di huruf A, selamat! 4
hey kamu berada di huruf A, selamat! 9
hey kamu berada di huruf A, selamat! 11

**Tantangan**

angka = [1,2,3,4,5,6,7,8,9,10]
lakukan iterasi list angka, kemudian cetak dilayar apakah ia ganjil atau genap. gunakan fungsi modulus (%)

In [18]:
angka = [1,2,3,4,5,6,7,8,9,10]

In [23]:
for item in angka:
    if item%2 == 0 :
        print('Angka {} adalah bilangan genap'.format(item))
    else:
        print('Angka {} adalah bilangan ganjil'.format(item))

Angka 1 adalah bilangan ganjil
Angka 2 adalah bilangan genap
Angka 3 adalah bilangan ganjil
Angka 4 adalah bilangan genap
Angka 5 adalah bilangan ganjil
Angka 6 adalah bilangan genap
Angka 7 adalah bilangan ganjil
Angka 8 adalah bilangan genap
Angka 9 adalah bilangan ganjil
Angka 10 adalah bilangan genap

In [26]:
import pandas as pd

In [27]:
data = pd.read_excel('Kualitas_Air.xlsx', sheet_name='Sheet1')

In [28]:
data

,DO,PH,Salinitas,Kecerahan,Klorofil,Ammonia,Ammonium,Nitrat,Nitrit
0,4.40,7.60,20.000000,7.000000,26.700,135.294463,841.352550,29.078347,23.062711
1,4.40,7.60,22.000000,7.000000,13.350,79.320063,878.159645,15.497162,23.127921
2,3.20,7.52,21.000000,5.500000,2.670,79.284834,892.572062,8.612223,23.019237
3,3.20,7.52,21.000000,5.500000,2.670,110.187306,804.157428,1.715993,23.345289
4,3.30,7.50,20.000000,9.500000,5.340,171.992249,847.283814,0.653174,22.997500
5,2.35,6.90,21.000000,9.500000,2.670,121.777934,846.840355,18.482410,22.975764
6,2.32,7.42,20.000000,3.000000,8.010,150.748635,812.084257,6.193059,23.019237
7,3.20,7.52,21.000000,5.500000,18.690,181.651107,847.727273,16.676101,24.084339
8,4.08,7.90,20.466667,5.666667,20.025,183.776643,830.127494,11.899290,23.581288
9,4.96,7.50,20.409524,5.452381,24.564,195.945041,826.784922,12.451608,23.670564
10,5.84,6.90,20.352381,5.238095,29.103,208.113440,823.442350,13.003926,23.759840
11,6.72,7.42,20.295238,5.023810,33.642,220.281839,820.099778,13.556244,23.849116
12,7.60,7.52,20.238095,4.809524,38.181,232.450238,816.757206,14.108562,23.938392
13,8.48,7.90,20.180952,4.595238,42.720,244.618637,813.414634,14.660880,24.027668

In [29]:
for i in data.DO:
    if i < 5:
        print ('Nilai DO masih dibawah ambang batas baku mutu')
    else:
        print ('Nilai DO melebihi ambang batas baku mutu')

Nilai DO masih dibawah ambang batas baku mutu
Nilai DO masih dibawah ambang batas baku mutu
Nilai DO masih dibawah ambang batas baku mutu
Nilai DO masih dibawah ambang batas baku mutu
Nilai DO masih dibawah ambang batas baku mutu
Nilai DO masih dibawah ambang batas baku mutu
Nilai DO masih dibawah ambang batas baku mutu
Nilai DO masih dibawah ambang batas baku mutu
Nilai DO masih dibawah ambang batas baku mutu
Nilai DO masih dibawah ambang batas baku mutu
Nilai DO melebihi ambang batas baku mutu
Nilai DO melebihi ambang batas baku mutu
Nilai DO melebihi ambang batas baku mutu
Nilai DO melebihi ambang batas baku mutu

### buatlah perintah for loop, untuk nilai pH. Nilai baku mutunya adalah 7-8.5

# While loop

ada 3 argumen yang bisa digunakan:
1. break= menghentikan looping
2. continue = melanjutkan looping ke iterator selanjutnya dan melewati iterator saat ini
3. pass = tidak melakukan apa-apa

while (sebuah kondisi = True):
    
    eksekusi

In [1]:
indeks = 0
while True:
    print('Saya berhasil menjalankan while loop')
    indeks += 1 # sama dengan indeks = indeks+1
    if indeks == 10:
        break # maka akan lakukan printing 10x

Saya berhasil menjalankan while loop
Saya berhasil menjalankan while loop
Saya berhasil menjalankan while loop
Saya berhasil menjalankan while loop
Saya berhasil menjalankan while loop
Saya berhasil menjalankan while loop
Saya berhasil menjalankan while loop
Saya berhasil menjalankan while loop
Saya berhasil menjalankan while loop
Saya berhasil menjalankan while loop

In [2]:
# while denan kondisi
x=0

In [3]:
#membuat perintah jika x< 50 maka print Bilangan x saat ini adalah:x
while x < 50:
    print ('Bilangan x saat ini adalah: ',x)
    x += 2

Bilangan x saat ini adalah:  0
Bilangan x saat ini adalah:  2
Bilangan x saat ini adalah:  4
Bilangan x saat ini adalah:  6
Bilangan x saat ini adalah:  8
Bilangan x saat ini adalah:  10
Bilangan x saat ini adalah:  12
Bilangan x saat ini adalah:  14
Bilangan x saat ini adalah:  16
Bilangan x saat ini adalah:  18
Bilangan x saat ini adalah:  20
Bilangan x saat ini adalah:  22
Bilangan x saat ini adalah:  24
Bilangan x saat ini adalah:  26
Bilangan x saat ini adalah:  28
Bilangan x saat ini adalah:  30
Bilangan x saat ini adalah:  32
Bilangan x saat ini adalah:  34
Bilangan x saat ini adalah:  36
Bilangan x saat ini adalah:  38
Bilangan x saat ini adalah:  40
Bilangan x saat ini adalah:  42
Bilangan x saat ini adalah:  44
Bilangan x saat ini adalah:  46
Bilangan x saat ini adalah:  48

In [5]:
#membuat variabel angka bersisi 1-10
angka = list(range(1,11))

In [6]:
angka

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
# membuat perintah jika item di variabel angka ganjil maka print Anda berada di angka ganjil = item
for item in angka:
    if item%2 == 0:
        continue
    else:
        print('Anda berada di angka ganjil =', item)

Anda berada di angka ganjil = 1
Anda berada di angka ganjil = 3
Anda berada di angka ganjil = 5
Anda berada di angka ganjil = 7
Anda berada di angka ganjil = 9

In [15]:
for i in 'Saya sudah mulai mahir di Python':
    if i == 'a':
        pass
    else:
        continue

In [16]:
for i in 'abcd':
    pass

In [17]:
#setidaknya tambahkan passa agar tdk error
for i in 'abcd':

IndentationError: expected an indented block (Temp/ipykernel_149772/3797449237.py, line 1)